* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --dark-1: #161819;
    --dars-2: #252728;
    --grey: #aaa;
    --ligt: #fff;
}

body {
    background: var(--dark-1);
}

.container {
    max-width: 991px;
    width: 100%;
    padding: 0 16px;
    margin: 48px auto;
}

.title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 36px;
    color: var(--ligt);
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    grid-gap: 16px;
}

.card {
    padding: 24px;
    border-radius: 12px;
    background: var(--dars-2);
    color: var(--ligt);
    max-width: calc(50% - 30px);
    position: relative;
}

.card:nth-child(odd) {
    align-self: flex-end;

}

.card::before {
    content: "";
    position: absolute;
    top: 12px;
    border: 12px solid;
}

.card:nth-child(odd)::before {
    right: 100%;
    border-color: transparent var(--dars-2) transparent transparent;
}

.card:nth-child(even)::before {
    left: 100%;
    border-color: transparent transparent transparent var(--dars-2);
}

.card h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 16px;
}

.card .time {
    font-size: 14px;
    color: var(--grey);
}

.card .dot{
    position: absolute;
    top: 15px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--ligt);
}

.card:nth-child(even) .dot{
    left: calc(100% + 22px);
}
.card:nth-child(odd) .dot{
    right: calc(100% + 22px);
}
.line {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background: var(--ligt);
}