* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --dark-1: #161819;
    --dars-2: #252728;
    --grey: #aaa;
    --ligt: #fff;
}

body {
    background: var(--dark-1)!important ;
}

.timeline-container {
    max-width: 991px;
    width: 100%;
    padding: 0 16px;
    margin: 48px auto;
}

.timeline__create{
    background-color: var(--dars-2);
    color: var(--ligt);
    width: 500px;
    height: 50px;
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    margin-bottom: 50px;
}

.timeline-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 36px;
    color: var(--ligt);
    text-align: center;
}

.timeline-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    grid-gap: 16px;
}

.timeline-card {
    padding: 24px;
    border-radius: 12px;
    background: var(--dars-2);
    color: var(--ligt);
    max-width: calc(50% - 30px);
    position: relative;
}

.timeline-card:nth-child(odd) {
    align-self: flex-end;

}

.timeline-card::before {
    content: "";
    position: absolute;
    top: 12px;
    border: 12px solid;
}

.timeline-card:nth-child(odd)::before {
    right: 100%;
    border-color: transparent var(--dars-2) transparent transparent;
}

.timeline-card:nth-child(even)::before {
    left: 100%;
    border-color: transparent transparent transparent var(--dars-2);
}

.timeline-card h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.timeline-card p {
    margin-bottom: 16px;
}

.timeline-card .timeline-time {
    font-size: 14px;
    color: var(--grey);
}

.timeline-card .timeline-dot{
    position: absolute;
    top: 15px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--ligt);
}

.timeline-card:nth-child(even) .timeline-dot{
    left: calc(100% + 22px);
}
.timeline-card:nth-child(odd) .timeline-dot{
    right: calc(100% + 22px);
}
.timeline-line {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background: var(--ligt);
}

/* Modal */
.modal-content{
    background-color: var(--dars-2)!important;
    color: var(--ligt)!important;
}

.modal-body label{
    display: block;
    margin-top: 10px;
}

.modal-body input, .modal-body textarea{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.modal-body textarea{
    height: 100px;
}

.btn-close{
    --bs-btn-close-color: var(--ligt)!important;
}


@media screen and (max-width:768px) {
    .timeline-line {
        left: 12px;
    }
    
}